<div style="border: 1px solid red;margin-top: 20px;padding: 15px;">
  父组件：在下面输入值，数据从父组件流动到子组件:
  <br><br>
  <input type="text" placeholder="请输入" [(ngModel)]='subvalue'>

  <div style="border: 1px solid #dadada; margin-top: 20px;padding: 15px;">
    sub子组件，使用neModel绑定：
    <app-sub [(ngModel)]='subvalue'></app-sub>
  </div>

</div>


<div style="border: 1px solid red;margin-top: 20px;padding: 15px;">
  父组件：在下面输入值，数据从父组件流动到子组件:
  <br><br>
  <input type="text" placeholder="请输入" [(ngModel)]='customvalue'>

  <div style="border: 1px solid #dadada; margin-top: 20px;padding: 15px;">
    custom子组件，使用自定义双向绑定属性：
    <app-custom [(value)]='customvalue'></app-custom>
  </div>

</div>